@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-image: url('../../Images/Screen.jpg');
        background-size:cover;
        background-repeat:no-repeat;
    }
</style>
<p>Use this area to provide additional information.</p>