@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-image: url('../../Images/Screen.jpg');
        background-size:cover;
        background-repeat:no-repeat;
    }
</style>
<p>This application will allow admin users to create and Delete theaters and movies while anybody else will only be able to create a comment. The Admins will be able to Create and Delete Comments.</p>