@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-image: url('../../Images/Screen.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<address>
    Washington Drive<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">IWantToSupport@Supporter.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ILikeMarketing@Marketing.com</a>
</address>